/* default config at https://raw.githubusercontent.com/Alexays/Waybar/refs/heads/master/resources/style.css */

* {
    font-family: JetbrainsMono Nerd Font, Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
}

window#waybar {
    background-color: #333333;
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: #5eacd3;
    transition-property: background-color;
    transition-duration: .1s;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
    padding: 0 2px;
    background-color: transparent;
    color: #5eacd3;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused, #workspaces button.active {
  box-shadow: inset 0 -3px #5eacd3;
  color: #ffffff;
  background-color: #5eacd3;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#workspaces,
#clock,
#battery,
#pulseaudio,
#backlight,
#network,
#cpu,
#memory,
#tray,
#window {
    margin: 0 2px;
}

#battery,
#pulseaudio,
#backlight,
#network,
#cpu,
#memory,
#tray,
#window {
    padding: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

#battery.charging, #battery.plugged {
    color: #32cd32;
}

#battery.warning:not(.charging) {
    color: #ebc106;
}

#battery.critical:not(.charging) {
    color: #ff3131;
}

#pulseaudio.muted {
    color: #2a5c45;
}
