[core]
    editor = "vim"
	pager = /usr/bin/less
[diff]
	colorMoved = zebra
[user]
    name = Ian Beckett
    email = ianedwardbeckett@gmail.com
[pull]
	rebase = false
[branch]
    sort=-committerdate
[tag]
    sort=-version:refname
