[core]
    editor = nvim
	pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    syntax-theme = none
    line-numbers = true
    side-by-side = false
    keep-plus-minus-markers = false
    hunk-header-style = omit
[pager]
    blame  = delta
    diff   = delta
    reflog = delta
    show   = delta
[diff]
	colorMoved = zebra
[merge]
    conflictStyle = zdiff3
[user]
    name = Ian Beckett
    email = ianedwardbeckett@gmail.com
[pull]
	rebase = true
[rebase]
    autoStash = true
[branch]
    sort=-committerdate
[tag]
    sort=-version:refname
[advice]
	defaultBranchName = false
